@media(prefers-color-scheme: light) {
  :root {
    /* colors */
    --bdbgc: #fff;
    --btnbgc: #ccc;
    --btnc: #7a7a7a;
    --codeBGColor: #00000008;
    --codeBorderColor: #0000001a;
    --ibgc: #fff;
    --ibdrFc: #5f5f5f;
    --ibdrHc: #7a7a7a;
    --itxtc: #000;
    --mainColor: #0078d7;
    --sbbgc: #e6e6e6;
    --sbiHbgc: #cfcfcf;
    --tbtc: #1d1d1d;
    --txtc: #000;
    --txtdc: #646464;
    --windowBGColor: #fff;
    --windowsHeaderColor: #cdcdcd;
    --windowHeaderBorderBottomColor: #4d4d4d;
    --desktop-taskbar-color-transparent: #202020d5;
    --desktop-taskbar-color: #202020;
    --desktop-startmenu-color-transparent: #1f1f1f8c;
  }

  #wallet {
    content: url(../content/images/wallet-light.svg);
  }
}

@media(prefers-color-scheme: dark) {
  :root {
    /* colors */
    --bdbgc: #000;
    --btnbgc: #333;
    --btnHc: #858585;
    --codeBGColor: #85858545;
    --codeBorderColor: rgba(88, 88, 88, 0.271);
    --ibgc: #000;
    --ibdrFc: #5f5f5f;
    --ibdrHc: #7a7a7a;
    --itxtc: #fff;
    --mainColor: #0078d7;
    --sbbgc: #1f1f1f;
    --sbiHbgc: #353535;
    --tbtc: #fff;
    --txtc: #fff;
    --txtdc: #b8b8b8;
    --windowBGColor: #3b3b3b;
    --windowsHeaderColor: #202020;
    --windowHeaderBorderBottomColor: #d4d4d4;
    --desktop-taskbar-color-transparent: #202020d5;
    --desktop-taskbar-color: #202020;
    --desktop-startmenu-color-transparent: #1f1f1f8c;
  }

  #wallet {
    content: url(../content/images/wallet-dark.svg);
  }
}