@import url(./themeColor.css);

/* Navigation */
/* Header */
.header {
  z-index: 5;
  position: fixed;
  /* background-color: var(--bdbgc); */
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  width: calc(100% - 318px);
  min-height: 100px;
  box-sizing: border-box;
  top: 0;
  width: 100%;

  &.home {
    background-color: var(--sbbgc);
    backdrop-filter: blur(0);
  }
}

.header-main {
  flex-direction: column;
  margin-inline: 25px;
  position: relative !important;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: calc(100% - 50px);
  min-height: 100px;
  box-sizing: border-box;
  justify-content: flex-end;
}

.header-content {
  margin: 0;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.header-items {
  display: flex;
  position: absolute;
  width: calc(100% - 25px);
  left: 0;
  margin-right: 25px;
  justify-content: center;
  align-items: center;
}

.header.full {
  width: 100%;
  max-width: 100%;
}

.topTools {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 8px;
}

.smallHome {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 32px;
  height: 32px;
}

.smallHome:hover {
  background-color: #CFCFCF;
}

.smallHome scalable {
  margin: 0 !important;
  width: 24px;
  height: 24px;
}

/* Sidebar */

.sidebar {
  z-index: 6;
  position: fixed;
  min-width: 320px;
  max-width: 320px;
  background-color: var(--sbbgc);
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
  overflow-y: auto;
}

.sidebar-item {
  align-items: center;
  display: flex;
  padding-block: 12px;
  flex-direction: row !important;
}

/* .sidebar-item:hover {
  background-color: var(--sbiHbgc);
} */

.sidebar-item p {
  margin: 0;
  font-size: 13.5px;
  margin-inline: 14px;
  user-select: none;
  color: var(--txtc);
}

sidebarheader {
  margin-top: 50px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

sidebarcontent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;


}

.bottom {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

/* Selected is the little Windows blue bar, that shows the page what the user is in */

.selected {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.selected div {
  display: flex;
  background-color: #0078D7 !important;
  width: 3.5px;
  height: 28px;
}

/* #tr means true | #fs means false /|\ These IDs used in .selected#** will justify if the
Windows blue bar should appears */

.selected#tr div {
  visibility: visible;
}

.selected#fs div {
  visibility: hidden;
}

/* The main content of the Page */

.content {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.main-content {
  padding-left: 318px;
  position: relative;
  display: flex;
  width: calc(100% - 318px);
  flex-direction: column;
}

.main-content.full {
  width: 100%;
  padding-left: 0;
}

.main-items {
  position: relative;
  padding-top: 100px;
  background-color: var(--bdbgc);
  margin-inline: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.main-items p {
  margin-block: 10px;
  font-size: 14px;
  overflow-wrap: break-word;
  max-width: 450px;
  min-width: 370px;
  color: var(--txtc);
}

/* Section is the tittle of a block of text for one **assunto** */

.section {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  max-width: 680px;
}

.section ul li {
  min-width: 340px;
}

.section .images img {
  width: 300px;
  /* display: none; */
}

.sectionTitle {
  margin-block: 8px;
  display: flex;
  font-size: 22px;
  width: fit-content;
  text-wrap: nowrap;
  color: var(--txtc);
}

tabtitle {
  display: flex;
  color: var(--tbtc);
  font-family: Segoe UI;
  font-size: 30px;
  margin-block: 8px;
  align-items: center;
}

scalable {
  margin-left: 18px;
  display: flex;
  position: relative;
  width: 21.3px;
  height: 21.3px;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.itemsTypeTitle {
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-bottom: 22px;
  justify-content: left;
  align-items: center;
  font-size: 12.3px;
  margin-inline: 21.5px;
  color: var(--txtc);
}

.images {
  margin-block: 12px;
  margin-inline: 10px;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
}

/* Interactable UI Elements */

.button.start {
  width: 310px;
  height: fit-content;
  display: flex;
  padding: 12px 12px;
  background: none;
  align-items: center;

  .icon {
    margin-block: 5px;
    align-self: baseline;
  }

  .bcontent {
    position: relative;
    max-width: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 16px;
    text-align: start;

    div {
      font-size: 12px;
      overflow-wrap: break-word;
      text-wrap: wrap;
      margin-block: 4px;
      color: var(--txtdc);
    }

    span {
      font-size: 16px;
      overflow-wrap: break-word;
      text-wrap: wrap;
      color: var(--txtc);
    }
  }
}

.checkingIf {
  display: flex;
  height: fit-content;
  width: 100%;
}

@media (max-width: 718px) {

  /* Navigation   */
  /* Header */
  .header {
    max-height: 70px;
    min-height: 70px;
  }

  .header-main {
    max-height: 70px;
    height: 70px;
    margin: 0;
  }

  .header-content {
    margin-left: 6px;
  }

  .smallHome {
    display: flex;
  }

  /* Sidebar */

  .sidebar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
  }

  /* Main Content of the Page */

  .main-content {
    padding-left: 0;
  }

  .main-items {
    margin-left: 6px;
    padding-top: 70px;
  }

  .img\&Desc {
    img {
      width: 620px;
      max-width: 150%;
    }
  }
}

.img\&Desc {
  img {
    width: 620px;
  }

  p {
    max-width: 700px;
  }
}

/*General stylization*/
code {
  margin: 0px 2px;
  padding: 1px 4px;
  box-sizing: border-box;
  font-weight: 500;
  border: 1px solid var(--codeBorderColor);
  border-radius: 4px;
  background-color: var(--codeBGColor);
}

a {
  text-decoration: none;
  color: var(--mainColor);
}

body {
  margin: 0;
  font-family: Segoe UI;
  background-color: var(--bdbgc);
}

.buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

li {
  color: var(--txtc);
}

ul {
  color: var(--txtc);
  padding-left: 20px;
}

/* ... Pls, ignore this "*" :| */

* {
  /* transition: all 1s; */
  transition: width .5s, height .5s, height 1s, margin .5s, padding .5s, background .5s, background-color 1s, color 1s, visibility .3s, opacity .3s;
}

.sidebar::-webkit-scrollbar {
  inline-size: 10px;
}

::-webkit-scrollbar {
  inline-size: 15px;
  background-color: transparent
}

::-webkit-scrollbar:vertical {
  --scrollbar-caret-top: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.10204 16.9814C5.0281 16.9814 4.45412 15.7165 5.16132 14.9083L10.6831 8.59765C11.3804 7.80083 12.6199 7.80083 13.3172 8.59765L18.839 14.9083C19.5462 15.7165 18.9722 16.9814 17.8983 16.9814H6.10204Z' fill='%23888888dd'/%3E%3C/svg%3E");
  --scrollbar-caret-bottom: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.10204 8C5.0281 8 4.45412 9.2649 5.16132 10.0731L10.6831 16.3838C11.3804 17.1806 12.6199 17.1806 13.3172 16.3838L18.839 10.0731C19.5462 9.2649 18.9722 8 17.8983 8H6.10204Z' fill='%23888888dd'/%3E%3C/svg%3E")
}

::-webkit-scrollbar:horizontal {
  --scrollbar-caret-top: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.8983C9 18.9722 10.2649 19.5462 11.0731 18.839L17.3838 13.3172C18.1806 12.6199 18.1806 11.3804 17.3838 10.6831L11.0731 5.16132C10.2649 4.45412 9 5.02809 9 6.10204V17.8983Z' fill='%23888888dd'/%3E%3C/svg%3E");
  --scrollbar-caret-bottom: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.8983C15 18.9722 13.7351 19.5462 12.9268 18.839L6.61617 13.3172C5.81935 12.6199 5.81935 11.3804 6.61617 10.6831L12.9268 5.16132C13.7351 4.45412 15 5.02809 15 6.10204L15 17.8983Z' fill='%23888888dd'/%3E%3C/svg%3E")
}

::-webkit-scrollbar:hover {
  background: var(--scrollbar-caret-bottom) bottom center/contain no-repeat, var(--scrollbar-caret-top) top center/contain no-repeat, transparent
}

::-webkit-scrollbar:horizontal:hover {
  background: var(--scrollbar-caret-bottom) left center/contain no-repeat, var(--scrollbar-caret-top) right center/contain no-repeat, transparent
}

::-webkit-scrollbar-thumb {
  border-block: none;
  border-radius: 7px;
  background: var(#fff, #dddddd88) var(#000, rgba(119, 119, 119, 0.866667));
  background-clip: padding-box;
  border: 5.5px solid transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  border: 3.2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 14px;
  border: 4px solid transparent;
  background-color: var(#fff, rgba(221, 221, 221, 0.6)) var(#000, rgba(119, 119, 119, 0.933333));
}

.sidebar::-webkit-scrollbar-thumb:hover {
  border: 2px solid transparent;
}

::-webkit-scrollbar-button:single-button {
  display: block;
  block-size: 14px
}

::-webkit-scrollbar-thumb {
  background-color: #b9b9b9b9
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b9b9b9b9
}

.no-bg {
  background: none !important;
  border-image: none !important;
}