@import url(/src/filters/grainy.svg);

.blur {
  backdrop-filter: blur(15px);
}

.grain {
  backdrop-filter: url(#grainy) opacity(0.1);
}

.blur,
.grain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}